install_packages:
  - iptables

fw_chain_input:
  - { protocol: 'tcp', destination_port: '3843', comment: 'ServerMan ssh' }
  - { protocol: 'tcp', destination_port: '25',   comment: 'smtp' }
  - { protocol: 'tcp', destination_port: '465',  comment: 'smtps' }
  - { protocol: 'tcp', destination_port: '587',  comment: 'smtps submission' }
  - { protocol: 'tcp', destination_port: '993',  comment: 'imaps' }
  - { protocol: 'tcp', destination_port: '995',  comment: 'pop3s' }
  - { protocol: 'tcp', destination_port: '80',   comment: 'http' }
  - { protocol: 'tcp', destination_port: '443',  comment: 'https' }
  - { protocol: 'tcp', destination_port: '8080', comment: 'http' }
